/*
Estilos de la Fuente
font-family (Familia de fuentes de letras)
font-size (tamaño de las letras)
font-weight (Hancho de las letras, lo oscuro negrita.)
font-style (cursiva, normal..)
font-variant (small-caps pone todo el mayuscula)
line-height (espacio entre los reenglones)
font (Para poner todo en una linea, se ponen en este orden: font-style, font-variant, font-weight, font-size, line-height y font-falimy.   (Entre el font-size y el line-height va un /)
*/

.font {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  line-height: 1.5;
  font: italic small-caps bold 24px / 1.5 monospace;
}

/*
Formato woff o woff2 - Web Open Font Formalt

Font-display:
auto: Permite que el navegador utilice el metodo predeterminado que suele ser block
block: Oculta brevemente el texto hasta que la fuente haya sido descargada por completo
swap: indica al navegador que utilice la fuente alternativa para mostrar el texto hasta que la fuente personalizada haya sido cargada por completo
fallback: Es una mezcla de auto y swap
optional: Ocultará el texto, luego lo cargará con la fuente alternativa y finalmente aplicará la fuente personalizada.
*/

@font-face {
  font-family: "Chalet";
  src: url("../assets/Chalet.woff") format("woff");
  font-display: swap;
  /* src: url("../assets/Chalet.woff") format("woff"),
  url(../assets/chalet.woff2) format(woff2); */
}

.chalet {
  font-family: "Chalet", sans-serif;
  font-size: 2rem;
}

@font-face {
  font-family: "Pecita";
  src: url("../assets/Pecita.woff") format("woff");
  font-display: swap;
}

.pecita {
  font-family: "Pecita", cursive;
  font-size: 2rem;
}

.raleway {
  font-family: "raleway", sans-serif;
  font-size: 2rem;
}

/*
Text-align (Texto centrado, a la izq, o derecha..)
text-decoration (Personaliza textos)
text-indent (Le da una sangria)

text-overflow (El overflow te dice que va a hacer con el contenido que desborde la caja, el overflow lo va a ocultar. El text-overflow para que funcione hay que tener estas 2 activadas:) 
white-space: nowrap; (Todo lo va a poner en una sola linea)
overflow: hidden;


text-overflow: ellipsis; (Corta el excedente y pone "...")

 text-transform 
 text-transform: Capitalize; (Sirve para poner la primera letra en mayuscula)
 text-transform: uppercase; (Todo en mayuscular)
 text-transform: lowercase; (Todo en minuscula)
 text-transform: (Por defecto esta none)

 
 white-space: (que hacer con los espacios en blanco)
 white-space: nowrap; (Todo lo va a poner en una sola linea)
 white-space: pre; (respeta todos los espacios en blanco)
 white-space: pre-wrap; (se va a adaptar al espacio que tenga su respectivo contenedor)
 
 
 
 letter-spacing: (espaciado que va a tener cada caracter)

 white-space
 
 word-break (Que pasa cuando necesitamos romper palabras)
 word-spacing (Muy similar al letter-spacing pero en vez de que sea en caracteres, sea con palabras)
 writing-mode (Son los modos de escritura)
 */

.text {
  font-size: 2rem;
  text-align: center;
  text-decoration: overline;
  text-decoration: none;
  text-indent: 1rem;
  text-transform: capitalize;
  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: none;
  letter-spacing: 1rem;
  word-break: break-all;
  writing-mode: horizontal-tb; /* Es la que esta por defecto */
  writing-mode: vertical-rl; /*pone las letras en vertical */
}

.text a {
  text-decoration: none;
}

.text-overflow {
  background-color: blanchedalmond;
  border: thin solid black;
  padding: 1rem;
  width: 50%;
  font-size: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.white-space {
  white-space: pre;
}

.word-spacing {
  font-size: 2rem;
  word-spacing: 1rem;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
